:root {
  --pr-white: #ffffff;
  --pr-black: #000000;

  --pr-slate-50: #f8fafc;
  --pr-slate-100: #f1f5f9;
  --pr-slate-200: #e2e8f0;
  --pr-slate-300: #cbd5e1;
  --pr-slate-400: #94a3b8;
  --pr-slate-500: #64748b;
  --pr-slate-600: #475569;
  --pr-slate-700: #334155;
  --pr-slate-800: #1e293b;
  --pr-slate-900: #0f172a;

  --pr-blue-50: #f0f7ff;
  --pr-blue-100: #ebf1ff;
  --pr-blue-200: #ccd9ff;
  --pr-blue-300: #99b7ff;
  --pr-blue-400: #4d84ff;
  --pr-blue-500: #0051ff;
  --pr-blue-600: #0049e6;
  --pr-blue-700: #0039b3;
  --pr-blue-800: #002880;
  --pr-blue-900: #00174d;

  --pr-red-50: #fef2f2;
  --pr-red-100: #fee2e2;
  --pr-red-200: #fecaca;
  --pr-red-300: #fca5a5;
  --pr-red-400: #f87171;
  --pr-red-500: #ef4444;
  --pr-red-600: #dc2626;
  --pr-red-700: #b91c1c;
  --pr-red-800: #991b1b;
  --pr-red-900: #7f1d1d;

  --pr-border-radius-0: 0px;
  --pr-border-radius-50: 2px;
  --pr-border-radius-100: 4px;
  --pr-border-radius-200: 8px;
  --pr-border-radius-300: 12px;
  --pr-border-radius-400: 16px;
  --pr-border-radius-500: 20px;
  --pr-border-radius-600: 24px;
  --pr-border-radius-full: 9999px;

  --pr-spacing-0: 0px;
  --pr-spacing-50: 2px;
  --pr-spacing-100: 4px;
  --pr-spacing-200: 8px;
  --pr-spacing-300: 12px;
  --pr-spacing-400: 16px;
  --pr-spacing-500: 20px;
  --pr-spacing-600: 24px;
  --pr-spacing-700: 28px;
  --pr-spacing-800: 32px;
  --pr-spacing-900: 36px;

  --pr-shadow-0: none;
  --pr-shadow-100: 0 1px 2px 0 rgb(0 0 0 / 0.1);
  --pr-shadow-200: 0 4px 6px -1px rgb(0 0 0 / 0.15);
  --pr-shadow-300: 0 10px 15px -3px rgb(0 0 0 / 0.15);
  --pr-shadow-400: 0 20px 25px -5px rgb(0 0 0 / 0.15);
  --pr-shadow-500: 0 25px 50px -12px rgb(0 0 0 / 0.15);

  --pr-breakpoint-100: 30rem;  
  --pr-breakpoint-200: 48rem;  
  --pr-breakpoint-300: 64rem;  
  --pr-breakpoint-400: 80rem; 
  --pr-breakpoint-500: 90rem; 
}