@import "./primitives.css";

:root {
  --background: var(--pr-slate-100);
  --foreground: var(--pr-slate-900);
  --foreground-brand: var(--pr-blue-500);

  --surface: var(--pr-white);
  --surface-foreground: var(--pr-slate-900);

  --primary: var(--pr-blue-500);
  --primary-hover: var(--pr-blue-400);
  --primary-foreground: var(--pr-slate-100);

  --secondary: var(--pr-slate-100);
  --secondary-hover: var(--pr-slate-200);
  --secondary-foreground: var(--pr-blue-500);

  --interactive: var(--pr-slate-200);
  --interactive-focus: var(--pr-blue-500);

  --dangerous: var(--pr-red-600);
  --dangerous-hover: var(--pr-red-500);
  --dangerous-foreground: var(--pr-slate-100);


  /* Shadows */
  --shadow-none: var(--pr-shadow-0);
  --shadow-xs: var(--pr-shadow-100);
  --shadow-sm: var(--pr-shadow-200);
  --shadow-md: var(--pr-shadow-300);
  --shadow-lg: var(--pr-shadow-400);
  --shadow-xl: var(--pr-shadow-500);
}

.dark {
  --background: var(--pr-slate-900);
  --foreground: var(--pr-slate-100);
  --foreground-brand: var(--pr-blue-400);

  --surface: var(--pr-slate-800);
  --surface-foreground: var(--pr-slate-100);

  --primary: var(--pr-blue-400);
  --primary-hover: var(--pr-blue-300);
  --primary-foreground: var(--pr-slate-900);

  --secondary: var(--pr-slate-800);
  --secondary-hover: var(--pr-slate-700);
  --secondary-foreground: var(--pr-slate-100);

  --interactive: var(--pr-slate-800);
  --interactive-focus: var(--pr-slate-100);

  --dangerous: var(--pr-red-600);
  --dangerous-hover: var(--pr-red-400);
  --dangerous-foreground: var(--pr-slate-100);
}
