@import "tailwindcss";
@import "./tokens/semantics.css";

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  :disabled,
  [aria-disabled="true"] {
    @apply cursor-not-allowed opacity-50;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-brand: var(--foreground-brand);
  
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-interactive: var(--interactive);
  --color-interactive-focus: var(--interactive-focus);

  --color-dangerous: var(--dangerous);
  --color-dangerous-hover: var(--dangerous-hover);
  --color-dangerous-foreground: var(--dangerous-foreground);

  /* Border */
  --radius-none: var(--border-radius-none);
  --radius-sm: var(--border-radius-sm);
  --radius-md: var(--border-radius-md);
  --radius-lg: var(--border-radius-lg);
  --radius-full: var(--border-radius-full);

  /* Spacing */
  --spacing-none: var(--spacing-none);
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);

  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
}
