@import "tailwindcss";
@import "./tokens/semantics.css";

/* Safelist for Layout Primitives (Stack, Grid) */
@source inline("{xs:,sm:,md:,lg:,xl:,}gap-{none,xs,sm,md,lg,xl}");
@source inline("{xs:,sm:,md:,lg:,xl:,}flex-{row,col,row-reverse,col-reverse,wrap,nowrap,wrap-reverse}");
@source inline("{xs:,sm:,md:,lg:,xl:,}items-{start,center,end,baseline,stretch}");
@source inline("{xs:,sm:,md:,lg:,xl:,}justify-{normal,start,center,end,between,around,evenly}");

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  :disabled,
  [aria-disabled="true"] {
    @apply cursor-not-allowed opacity-50;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-brand: var(--foreground-brand);
  
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-interactive: var(--interactive);
  --color-interactive-focus: var(--interactive-focus);

  --color-dangerous: var(--dangerous);
  --color-dangerous-hover: var(--dangerous-hover);
  --color-dangerous-foreground: var(--dangerous-foreground);

  /* Border */
  --radius-none: var(--pr-border-radius-0);
  --radius-xs: var(--pr-border-radius-50);
  --radius-sm: var(--pr-border-radius-100);
  --radius-md: var(--pr-border-radius-200);
  --radius-lg: var(--pr-border-radius-300);
  --radius-xl: var(--pr-border-radius-400);
  --radius-full: var(--pr-border-radius-full);

  /* Spacing */
  --spacing-none: var(--pr-spacing-0);
  --spacing-xs: var(--pr-spacing-50);
  --spacing-sm: var(--pr-spacing-100);
  --spacing-md: var(--pr-spacing-200);
  --spacing-lg: var(--pr-spacing-300);
  --spacing-xl: var(--pr-spacing-400);

  /* Shadows */
  --shadow-none: var(--shadow-none);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);

  /* Breakpoints */
  --breakpoint-xs: var(--pr-breakpoint-100);
  --breakpoint-sm: var(--pr-breakpoint-200);
  --breakpoint-md: var(--pr-breakpoint-300);
  --breakpoint-lg: var(--pr-breakpoint-400);
  --breakpoint-xl: var(--pr-breakpoint-500);

  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif;
}
